<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <p>My name is Rz and i crazy about nicholas tesla</p>
    <img src="/img/riza.jpeg">
    {{>footer}}
</body>

</html>